@model List<FirstProject.Models.Domain.EmployeeModel>;
@{
}

<h1>Employees</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
</table>